<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/components :: head(~{::title})">
    <title>Edit Flight Details</title>
</head>
<body>
<!-- Responsive navbar-->
<!-------------------------------------------------- SIGNED IN -------------------------------------------------->
<div th:if="${#bools.isTrue(#authorization.expression('isAuthenticated()'))}">
    <nav th:replace="fragments/components :: signedIn">
    </nav>
</div>

<!-------------------------------------------------- SIGNED OUT -------------------------------------------------->
<div th:if="${#bools.isFalse(#authorization.expression('isAuthenticated()'))}">
    <nav th:replace="fragments/components :: signedOut">
    </nav>
</div>


<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Present your business in a whole new way</h1>
                    <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with
                        Bootstrap, the world’s most popular front-end open source toolkit!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <h2>Edit Flight Details</h2>
    <div>
        <form th:object="${flight}" th:action="@{/edit-flights/save}"
              method="post">
            <input type="hidden" th:field="*{flightId}"/>
            <label>Flight Number</label> <input
                type="text" th:field="*{flightNumber}"/>
            <label>Departure Date</label> <input
                type="text" th:field="*{departureDate}"/>
            <label>Origin</label> <input
                type="text" th:field="*{originCity}"/>
            <label>Destination</label> <input
                type="text" th:field="*{destinationCity}"/>
            <label>Price US Dollars</label> <input
                type="text" th:field="*{priceUs}"/>
            <button type="submit">Save</button>
        </form>
    </div>
</div>

<footer class="align-bottom text-center">
    <span style="bottom: 0" class="text-center align-bottom"><a class="btn btn-secondary"
                                                                href="https://github.com/harrydulaney" target="_blank">Coded By Harry Dulaney</a></span>
</footer>

<div th:replace="fragments/components :: jsScripts"></div>

</body>
</html>
