<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/components :: head(~{::title})">
    <title>Admin Flight Console</title>
</head>
<body>
<!-- Responsive navbar-->
<!-------------------------------------------------- SIGNED IN -------------------------------------------------->
<div th:if="${#bools.isTrue(#authorization.expression('isAuthenticated()'))}">
    <nav th:replace="fragments/components :: signedIn">
    </nav>
</div>

<!-------------------------------------------------- SIGNED OUT -------------------------------------------------->
<div th:if="${#bools.isFalse(#authorization.expression('isAuthenticated()'))}">
    <nav th:replace="fragments/components :: signedOut">
    </nav>
</div>


<header class="bg-dark py-2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="text-center my-1">
                <h1 class="display-5 fw-bolder text-white">Master Flight Schedule</h1>
            </div>
        </div>
    </div>
</header>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="table-responsive">
            <form type="hidden" th:action="@{/admin/add-flight}" th:object="${createFlight}" th:id="addForm"
                  method="post"></form>
            <table id="flightTable" class="table">
                <thead>
                <tr class="bg-info">
                    <th>Flight #</th>
                    <th>Departure Date</th>
                    <th>Carrier</th>
                    <th>Origin</th>
                    <th>Departure Time</th>
                    <th>Destination</th>
                    <th>Arrival Time</th>
                    <th>Price $US</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <!---------------- Add Flight Form row ---------------->
                <tr>
                    <td>
                        <label>
                            <input type="text" name="flightNumber" th:form="addForm" class="form-control"
                                   th:value="${createFlight.flightNumber}">
                        </label>
                        <label>
                            <input type="date" name="departureDate" th:form="addForm" class="form-control"
                                   th:value="${createFlight.departureDate}">
                        </label>
                        <label>
                            <input type="text" name="carrier" th:form="addForm" class=""
                                   th:value="${createFlight.carrier}">
                        </label>
                        <input type="hidden" name="salary" th:value="${empl.salary}">
                        <button type="submit">Delete</button>
                    </td>
                </tr>

                <tr th:each="flight : ${resultFlights}">
                    <td th:text="${flight.flightNumber}"></td>
                    <td th:text="${#dates.format(flight.departureDate, 'dd-MMM-yyyy')}"></td>
                    <td th:text="${flight.carrier}"></td>
                    <td th:text="${flight.originCity}"></td>
                    <td th:text="${flight.departureTime}"></td>
                    <td th:text="${flight.destinationCity}"></td>
                    <td th:text="${flight.arrivalTime}"></td>
                    <td class="font-weight-bold" th:text="${flight.priceUs}"></td>
                    <td class="mx-auto"><a th:href="'/admin/flight-schedule/edit/'  + ${f.flightId}">

                        <i class="bi bi-check-circle-fill"><span
                                class="text-secondary text-muted small"> Edit</span></i></a>
                    </td>
                    <td><a class="moduleLabelInPackage p-2">Edit</a>

                        <a class="p-2" th:href="'/admin/flight-schedule/delete/'  + ${f.flightId}">Delete</a></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: jsScripts"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#flightTable').DataTable({
            "ordering": true,
            "pageLength": 10,
            "lengthChange": true,
            "paging": true,
            "lengthMenu": [10, 25, 50, 75, 100],
            "search": true
        });
    });
</script>
</body>
</html>
