<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/components :: head(~{::title})">
    <title>Admin Flight Console</title>
</head>
<body>
<!-- Responsive navbar-->
<!-------------------------------------------------- SIGNED IN -------------------------------------------------->
<nav th:replace="fragments/components :: signedIn">
</nav>

<header class="bg-dark py-2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="text-center my-1">
                <h1 class="display-5 fw-bolder text-danger font-weight-bolder">Master Flight Schedule</h1>
            </div>
        </div>
    </div>
</header>

<!-- Toast Notifications -->
<div id="successAlert" class="alert alert-primary" role="alert" th:text="${success}"
     th:if="${success}"></div>
<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>


<!-- Add New Flight Modal -->
<div class="modal fade" id="addNewFlightModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add New Flight</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addFlightForm" th:action="@{/admin-api/v1/add-flight}" th:object="${newFlight}"
                      method="post" class="needs-validation was-validated">
                    <div class="form-group my-1">
                        <label for="i1">Flight Number</label><input type="text" name="flightNumber" class="form-control"
                                                                    id="i1"
                                                                    th:field="*{flightNumber}"
                                                                    th:value="${newFlight.flightNumber}"
                                                                    placeholder="Ex: W3Y7"
                                                                    required>
                    </div>
                    <div class="form-group my-1">
                        <label for="i2">Carrier Airline</label><input type="text" name="carrier" class="form-control"
                                                                      id="i2"
                                                                      th:value="${newFlight.carrier}"
                                                                      th:field="*{carrier}" placeholder="Ex: Delta"
                                                                      required>
                    </div>
                    <div class="form-group my-1">
                        <label for="i3">Departure Date</label><input type="date" name="departureDate"
                                                                     class="form-control" id="i3"
                                                                     th:value="${newFlight.departureDate}"
                                                                     th:field="*{departureDate}" required>
                    </div>
                    <div class="form-group my-1">
                        <label for="i4">Origin City</label><input type="text" name="originCity" class="form-control"
                                                                  id="i4"
                                                                  th:value="${newFlight.originCity}"
                                                                  th:field="*{originCity}" required>
                    </div>
                    <div class="form-group my-1">
                        <label for="i5">Destination City</label><input type="text" name="destinationCity"
                                                                       class="form-control" id="i5"
                                                                       th:value="${newFlight.destinationCity}"
                                                                       th:field="*{destinationCity}" required>
                    </div>
                    <div class="form-group my-1">
                        <label for="i6">Departure Time</label><input type="time" name="departureTime"
                                                                     class="form-control" id="i6"
                                                                     th:value="${newFlight.departureTime}"
                                                                     th:field="*{departureTime}" required>
                    </div>
                    <div class="form-group my-1">
                        <label for="i7">Arrival Time</label><input type="time" name="arrivalTime" class="form-control"
                                                                   id="i7"
                                                                   th:value="${newFlight.arrivalTime}"
                                                                   th:field="*{arrivalTime}" required>
                    </div>
                    <div class="form-group my-1">
                        <label for="i8">Price ($US)</label><input type="number" step="0.01" name="priceUs"
                                                                  class="form-control"
                                                                  id="i8"
                                                                  th:value="${newFlight.priceUs}"
                                                                  th:field="*{priceUs}" placeholder="Ex: 555.55"
                                                                  required>
                    </div>
                    <div class="form-group my-1">
                        <label for="f8">Status</label><input type="text" name="flightStatus"
                                                             class="form-control"
                                                             id="i9"
                                                             th:field="*{flightStatus}"
                                                             th:value="${newFlight.flightStatus}"
                                                             placeholder="Ex: OnTime"
                                                             required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Discard</button>
                <button type="submit" form="addFlightForm" class="btn btn-primary">Save and Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table id="editFlightTable" class="display" style="width: 100%;">
                <thead>
                <tr class="bg-light">
                    <th>
                        <span class="btn-group">
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal"
                                data-target="#addNewFlightModal">
                            Add
                        </button>

                        </span>
                    </th>
                </tr>
                <tr class="bg-info">
                    <th>Flight #</th>
                    <th>Departure Date</th>
                    <th>Carrier</th>
                    <th>Origin</th>
                    <th>Departure Time</th>
                    <th>Destination</th>
                    <th>Arrival Time</th>
                    <th>Price $US</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <!---------------- Add Flight Form row ---------------->
                <tr th:each="flight, i : ${flights}">
                    <td th:text="${flight.flightNumber}"></td>
                    <td th:text="${#dates.format(flight.departureDate, 'dd-MMM-yyyy')}"></td>
                    <td th:text="${flight.carrier}"></td>
                    <td th:text="${flight.originCity}"></td>
                    <td th:text="${flight.departureTime}"></td>
                    <td th:text="${flight.destinationCity}"></td>
                    <td th:text="${flight.arrivalTime}"></td>
                    <td class="font-weight-bold" th:text="${flight.priceUs}"></td>
                    <td th:text="${flight.flightStatus}"></td>
                    <td class="mx-auto btn-group">
                        <!-- Delete button -->
                        <button
                                id="deleteRowButton"
                                type="submit"
                                style="font-size:0.8rem"
                                data-toggle="modal"
                                data-target="#deleteFlightModal"
                                class="btn btn-primary m-1">
                            <small>Delete</small>
                        </button>
                        <!-- Edit Button -->
                        <button type="submit"
                                style="font-size:0.8rem"
                                data-toggle="modal"
                                data-target="#editFlightModal"
                                class="btn btn-primary m-1">
                            <small>Edit</small>
                        </button>

                        <!-- Edit Flight Modal -->
                        <div class="modal fade" id="editFlightModal" tabindex="-1" role="dialog"
                             aria-labelledby="editModalLbl"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLbl">Edit Flight</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" id="editFlightForm"
                                              th:action="@{/admin-api/v1/save-flight}"
                                              th:object="${flight}"
                                              method="post">
                                            <input type="hidden" name="flightId"
                                                   th:value="${flight.flightId}"/>
                                            <div class="form-group my-1">
                                                <label for="f1">Flight Number</label><input type="text"
                                                                                            name="flightNumber"
                                                                                            class="form-control"
                                                                                            id="f1"
                                                                                            th:value="${flight.flightNumber}"
                                                                                            placeholder="Ex: W3Y7"
                                                                                            required>
                                            </div>
                                            <div class="form-group my-1">
                                                <label for="f2">Carrier Airline</label><input type="text"
                                                                                              name="carrier"
                                                                                              class="form-control"
                                                                                              id="f2"
                                                                                              th:value="${flight.carrier}"
                                                                                              required>
                                            </div>
                                            <div class="form-group my-1">
                                                <label for="f3">Departure Date</label><input type="date"
                                                                                             name="departureDate"
                                                                                             class="form-control"
                                                                                             id="f3"
                                                                                             th:value="${flight.departureDate}"
                                                                                             required>
                                            </div>
                                            <div class="form-group my-1">
                                                <label for="f4">Origin City</label><input type="text"
                                                                                          name="originCity"
                                                                                          class="form-control"
                                                                                          id="f4"
                                                                                          th:value="${flight.originCity}"
                                                                                          required>
                                            </div>
                                            <div class="form-group my-1">
                                                <label for="f5">Destination City</label><input type="text"
                                                                                               name="destinationCity"
                                                                                               class="form-control"
                                                                                               id="f5"
                                                                                               th:value="${flight.destinationCity}"
                                                                                               required>
                                            </div>
                                            <div class="form-group my-1">
                                                <label for="f6">Departure Time</label><input type="time"
                                                                                             name="departureTime"
                                                                                             class="form-control"
                                                                                             id="f6"
                                                                                             th:value="${flight.departureTime}"
                                                                                             required>
                                            </div>
                                            <div class="form-group my-1">
                                                <label for="f7">Arrival Time</label><input type="time"
                                                                                           name="arrivalTime"
                                                                                           class="form-control"
                                                                                           id="f7"
                                                                                           th:value="${flight.arrivalTime}"
                                                                                           required>
                                            </div>
                                            <div class="form-group my-1">
                                                <label for="f8">Price ($US)</label><input type="number"
                                                                                          name="priceUs"
                                                                                          class="form-control"
                                                                                          id="f8"
                                                                                          th:value="${flight.priceUs}"
                                                                                          required>
                                            </div>
                                            <div class="form-group my-1">
                                                <label for="f9">Status</label><input type="text" name="flightStatus"
                                                                                     class="form-control"
                                                                                     id="f9"
                                                                                     th:value="${flight.flightStatus}"
                                                                                     required>
                                            </div>


                                        </form>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Discard
                                        </button>
                                        <button form="editFlightForm" type="submit" class="btn btn-primary">Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Flight Modal -->
                        <div class="modal fade" id="deleteFlightModal" tabindex="-1" role="dialog"
                             aria-labelledby="deleteFlightLbl"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteFlightLbl">Confirm Delete Flight</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p style="font-size: 1.1rem" class="font-weight-bold"
                                           th:text="'Are you sure you want to delete Flight with Flight_Number: ' + ${flight.flightNumber} +
                                                   ', Carrier: ' + ${flight.carrier} + '. Departure Date: ' + ${flight.departureDate} +
                                                    ', Origin City: ' + ${flight.originCity} + '?'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Don't Delete
                                        </button>
                                        <a type="button" th:href="'/admin-api/v1/delete-flight/' + ${flight.flightId}"
                                           class="btn btn-primary delete--button">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr th:if="${flights.isEmpty()}">
                    <td class="text-center" colspan="8">No Flight records found...</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: jsScripts"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#editFlightTable').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)',
            },
            responsive: true,
            "ordering": true,
            "pageLength": 10,
            "lengthChange": true,
            "paging": true,
            "lengthMenu": [10, 25, 50, 75, 100],
            "search": true,
        });

    });

</script>
</body>
</html>
