<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- head component  -->
<head th:fragment="head(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:replace="${title}">Airline Reservation Simulator</title>
    <!-- include css in the header -->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="/style/main.css"/>-->
    <!--    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">-->
</head>

<header th:fragment="header">
    <div class="container text-center">
        <div style="align-content: center">
            <div class="jumbotron">
                <h3>Welcome to Airline Reservation Simulator</h3>

                <h4><a href="#" th:href="@{/}">Home</a></h4><br><h4>
                <a th:href="@{/reservations}">View Your Flights</a></h4><h4>
                <a th:href="@{/availablebusschedule/}">View Available Flights</a></h4>
                <br>
                <h4><a th:href="@{/flightSchedule}">Admin: Flight Schedule</a></h4>
                <h4><a th:href="@{/flightSchedule/add}">Admin: Add New Flight to Schedule</a></h4>


            </div>
        </div>
    </div>
</header>
<footer th:fragment="footer">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
            integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
</footer>
</html>
