<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components :: head(~{::title},~{::link})">
    <title>Edit Flight Details</title>
</head>
<body>
<header th:replace="fragments/components :: header"></header>
<div>
    <h2>Edit Bus Details</h2>
    <div>
        <form th:object="${flight}" th:action="@{/admin/flights/save}"
              method="post">
            <input type="hidden" th:field="*{busID}"/>
            <label>Bus Number</label> <input
                type="text" th:field="*{busNumber}"/>
            <label>Bus Date</label> <input
                type="text" th:field="*{busDate}"/>
            <label>Bus From</label> <input
                type="text" th:field="*{busFrom}"/>
            <label>Bus To</label> <input
                type="text" th:field="*{busTo}"/>
            <label>Price</label> <input
                type="text" th:field="*{price}"/>


            <button type="submit">Save</button>
        </form>
    </div>
</div>

</body>
</html>
