<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title})">
    <title>Edit Flight Details</title>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Simulation Airlines</a>
        <!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>-->
        <div class="navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 8rem">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin/flightSchedule}" class="nav-link active">Edit Flight Schedule</a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/reservations}">My Flights</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{searchFlights/}">Find Available Flights</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank"
                                        href="https://github.com/harrydulaney/airline-reservation-system">About</a></li>
            </ul>
            <!--/* If the user is logged in, show the logout button */-->
            <form method="post" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}"
                  class="float-right" style="margin-left: 5rem">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button id="logout-button" type="submit" class="btn btn-secondary">Logout</button>
            </form>
        </div>
    </div>
</nav>
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Present your business in a whole new way</h1>
                    <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with
                        Bootstrap, the world’s most popular front-end open source toolkit!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <h2>Edit Flight Details</h2>
    <div>
        <form th:object="${flight}" th:action="@{/edit-flights/save}"
              method="post">
            <input type="hidden" th:field="*{flightId}"/>
            <label>Flight Number</label> <input
                type="text" th:field="*{flightNumber}"/>
            <label>Departure Date</label> <input
                type="text" th:field="*{departureDate}"/>
            <label>Origin</label> <input
                type="text" th:field="*{originCity}"/>
            <label>Destination</label> <input
                type="text" th:field="*{destinationCity}"/>
            <label>Price US Dollars</label> <input
                type="text" th:field="*{priceUs}"/>
            <button type="submit">Save</button>
        </form>
    </div>
</div>

<footer class="align-bottom text-center">
    <span style="bottom: 0" class="text-center align-bottom"> Footer Links Here</span>
</footer>

<div th:replace="fragments/components :: jsScripts"></div>

</body>
</html>
