<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components :: head(~{::title})">
    <title>Edit Flight Details</title>
</head>
<body>
<header th:replace="fragments/components :: header"></header>
<div>
    <h2>Edit Flight Details</h2>
    <div>
        <form th:object="${flight}" th:action="@{/edit-flights/save}"
              method="post">
            <input type="hidden" th:field="*{flightId}"/>
            <label>Flight Number</label> <input
                type="text" th:field="*{flightNumber}"/>
            <label>Departure Date</label> <input
                type="text" th:field="*{departureDate}"/>
            <label>Origin</label> <input
                type="text" th:field="*{originCity}"/>
            <label>Destination</label> <input
                type="text" th:field="*{destinationCity}"/>
            <label>Price US Dollars</label> <input
                type="text" th:field="*{priceUs}"/>
            <button type="submit">Save</button>
        </form>
    </div>
</div>

</body>
</html>
