<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/components :: head(~{::title})">
    <title>Frequently Asked Questions</title>
<body>
<!-- Responsive navbar-->
<!-------------------------------------------------- SIGNED IN -------------------------------------------------->
<div th:if="${#bools.isTrue(#authorization.expression('isAuthenticated()'))}">
    <nav th:replace="fragments/components :: signedIn">
    </nav>
</div>

<!-------------------------------------------------- SIGNED OUT -------------------------------------------------->
<div th:if="${#bools.isFalse(#authorization.expression('isAuthenticated()'))}">
    <nav th:replace="fragments/components :: signedOut">
    </nav>
</div>


<header class="bg-dark py-2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="text-center my-1">
                <h1 class="display-5 fw-bolder text-white">Frequently Asked Questions</h1>
            </div>
        </div>
    </div>
</header>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="font-weight: bold;font-size: x-large">How do I register a new account?</h5>
                </div>
                <p class="mb-1">Click the Register button and fill out the info. You will be redirected to an Okta
                    page that looks like this:</p>
                <img alt="register faq img"
                     src="https://raw.githubusercontent.com/HarryDulaney/airline-reservation-system/rollback/src/main/resources/img/registration-faq.png"
                     style="height: 300px;width: 400px;"/>
                <p class="mb-1"> This means you were Successful! Navigate back to
                    <a href="https://airline-res-simulator.herokuapp.com">The Home page</a>
                     and use the email and password you just created to sign in.</p>
            </div>
            <!--            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">-->
            <!--                <div class="d-flex w-100 justify-content-between">-->
            <!--                    <h5 class="mb-1">List group item heading</h5>-->
            <!--                    <small class="text-muted">3 days ago</small>-->
            <!--                </div>-->
            <!--                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
            <!--                <small class="text-muted">Donec id elit non mi porta.</small>-->
            <!--            </a>-->
            <!--            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">-->
            <!--                <div class="d-flex w-100 justify-content-between">-->
            <!--                    <h5 class="mb-1">List group item heading</h5>-->
            <!--                    <small class="text-muted">3 days ago</small>-->
            <!--                </div>-->
            <!--                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
            <!--                <small class="text-muted">Donec id elit non mi porta.</small>-->
            <!--            </a>-->
        </div>
    </div>
</div>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: jsScripts"></div>
</body>
</html>
