<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components :: head(~{::title})">
    <title></title>
<body>
<header th:replace="fragments/components :: header"></header>
<div class="container">
    <div class="row">
        <h3 class="text-center">Master Flight Schedule</h3>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="table-info">
            <th scope="col">Flight Id</th>
            <th scope="col">Flight Number</th>
            <th scope="col">Flight Date</th>
            <th scope="col">Origin City</th>
            <th scope="col">Designation City</th>
            <th scope="col">Price $(US Dollars)</th>
            <th scope="col">Admin Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="f : ${flights}">
            <td th:text="${f.flightId}"></td>
            <td th:text="${f.flightNumber}"></td>
            <td th:text="${f.departureDate}"></td>
            <td th:text="${f.originCity}"></td>
            <td th:text="${f.destinationCity}"></td>
            <td th:text="${f.priceUs}"></td>
            <td><a class="moduleLabelInPackage p-2" th:href="'/admin/flight-schedule/edit/'  + ${f.flightId}">Edit</a>
                <!--                <form th:action="@{/addFlight}" th:object="${flightToDelete}" method="post">-->
                <!--                    <input type="hidden" name="flightId" th:value="${empl.id}">-->
                <!--                    <input type="hidden" name="flightNumber" th:value="${empl.name}">-->
                <!--                    <input type="hidden" name="telephone" th:value="${empl.telephone}">-->
                <!--                    <input type="hidden" name="salary" th:value="${empl.salary}">-->
                <!--                    <button type="submit">Delete</button>-->
                <!--                </form>-->
                <a class="p-2" th:href="'/admin/flight-schedule/delete/'  + ${f.flightId}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/components :: jsScripts"></div>
<footer th:replace="fragments/components :: footer">
</footer>
</body>
</html>
