<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title})">
    <title>Admin Flight Console</title>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Simulation Airlines</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin/flightSchedule}" class="nav-link">Edit Flight Schedule</a>
                </li>
                <li class="nav-item"><a class="nav-link" target="_blank"
                                        href="https://github.com/harrydulaney/airline-reservation-system">About</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/reservations}">My Reservations</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{searchFlights/}">Search Available Flights</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Present your business in a whole new way</h1>
                    <p class="lead text-white-50 mb-4">Quickly design and customize responsive mobile-first sites with
                        Bootstrap, the world’s most popular front-end open source toolkit!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <h3 class="text-center">Master Flight Schedule</h3>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="table-info">
            <th scope="col">Flight Id</th>
            <th scope="col">Flight Number</th>
            <th scope="col">Flight Date</th>
            <th scope="col">Origin City</th>
            <th scope="col">Designation City</th>
            <th scope="col">Price $(US Dollars)</th>
            <th scope="col">Admin Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="f : ${flights}">
            <td th:text="${f.flightId}"></td>
            <td th:text="${f.flightNumber}"></td>
            <td th:text="${f.departureDate}"></td>
            <td th:text="${f.originCity}"></td>
            <td th:text="${f.destinationCity}"></td>
            <td th:text="${f.priceUs}"></td>
            <td><a class="moduleLabelInPackage p-2" th:href="'/admin/flight-schedule/edit/'  + ${f.flightId}">Edit</a>
                <!--                <form th:action="@{/addFlight}" th:object="${flightToDelete}" method="post">-->
                <!--                    <input type="hidden" name="flightId" th:value="${empl.id}">-->
                <!--                    <input type="hidden" name="flightNumber" th:value="${empl.name}">-->
                <!--                    <input type="hidden" name="telephone" th:value="${empl.telephone}">-->
                <!--                    <input type="hidden" name="salary" th:value="${empl.salary}">-->
                <!--                    <button type="submit">Delete</button>-->
                <!--                </form>-->
                <a class="p-2" th:href="'/admin/flight-schedule/delete/'  + ${f.flightId}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/components :: jsScripts"></div>
<footer th:replace="fragments/components :: footer">
</footer>
</body>
</html>
