<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/components :: head(~{::title})">
    <title class="text-center">Simulation Airlines</title>
</head>

<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#" th:href="@{/}"> <i class="bi bi-house"></i> Simulation Airlines</a>
        <div class="navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 8rem"
                th:if="${#bools.isTrue(#authorization.expression('isAuthenticated()'))}">
                <!-------------------------------------  Signed In ---------------------------------------------->
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a th:href="@{/admin/flightSchedule}" class="dropdown-item">Edit Flight Schedules</a>
                        <a class="dropdown-item" href="#">Add Flights</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Admin Actions</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/reservations}">My Trips</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{searchFlights/}">Book</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank"
                                        href="https://github.com/harrydulaney/airline-reservation-system">About</a></li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 8rem"
                th:if="${#bools.isFalse(#authorization.expression('isAuthenticated()'))}">
                <!------------------------------------- Not Signed In ---------------------------------------------->
                <li class="nav-item disabled"><a class="nav-link disabled" href="#!" th:disabled>My Trips</a></li>
                <li class="nav-item disabled"><a class="nav-link disabled" href="#!" th:disabled>Book</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank"
                                        href="https://github.com/harrydulaney/airline-reservation-system">About</a></li>
            </ul>
            <div th:if="${#bools.isTrue(#authorization.expression('isAuthenticated()'))}">
                <!-------------------------------------  Signed In ---------------------------------------------->
                <form method="post" th:action="@{/logout}"
                      class="float-right" style="margin-left: 5rem">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button id="logout-button" type="submit" class="btn btn-outline-primary">Sign Out</button>
                </form>
            </div>
            <div style="display:inline-flex;margin-left: 5rem" class="float-right"
                 th:if="${#bools.isFalse(#authorization.expression('isAuthenticated()'))}">
                <!------------------------------------- Not Signed In ---------------------------------------------->
                <form method="get" th:action="@{/oauth2/authorization/okta}">
                    <button id="login-button" class="btn btn-outline-warning text-white"
                            type="submit">Sign In
                    </button>
                </form>
                <!--/* If the user is Not logged in show the Register redirect button */-->
                <form method="get" th:action="@{/#}">
                    <button id="register-button" class="btn btn-outline-primary" style="margin-left: 0.5rem"
                            type="submit">
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <h1 class="display-5 fw-bolder text-white mb-2">Welcome back,<br>
                            <span th:text="${user.getFullName()}"></span></h1>
                        <p class="lead text-white-50 mb-4">Thank you for choosing Simulation for your premium air travel
                            needs,
                            How can we help you today?</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" th:href="@{/searchFlights}">Search Available
                                Flights</a>
                            <a class="btn btn-outline-light btn-lg px-4" th:href="@{/reservations}">View Your
                                Reservations</a>
                        </div>
                    </div>

                    <div th:unless="${#authorization.expression('isAuthenticated()')}">
                        <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Simulation Airlines<br></h1>
                        <p class="lead text-white-50 mb-4">Please sign in or register a new account to continue</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <form method="get" th:action="@{/oauth2/authorization/okta}">
                                <button id="login-button2"
                                        class="btn btn-outline-warning btn-lg text-white px-4 me-sm-3 mr-1"
                                        type="submit">Sign
                                    In
                                </button>
                            </form>
                            <a class="btn btn-outline-primary text-white btn-lg px-4 ml-1" href="#!">Register</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i>
                </div>
                <h2 class="h4 fw-bolder">Frequently Asked Questions</h2>
                <p>Answers to commonly asked questions...</p>
                <a class="text-decoration-none" href="#!">
                    FAQs
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i>
                </div>
                <h2 class="h4 fw-bolder">The Simulations Airlines Difference</h2>
                <p>Fly with us</p>
                <a class="text-decoration-none" href="#!">
                    What makes us different?
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i>
                </div>
                <h2 class="h4 fw-bolder">We're Hiring!</h2>
                <p>Job opportunities in the air and on the ground</p>
                <a class="text-decoration-none" href="#!">
                    Join the simulation!
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Pricing section-->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Register your user account</h2>
            <p class="lead mb-0">To gain major functionality</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="text-uppercase fw-bold text-muted"><strong>User Account</strong></div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">Free</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Manager your booked flights</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Search and book new flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Get access to My Trips
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Edit existing bookings and flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Only one account per email address</strong>
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Register User Account</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="text-uppercase fw-bold text-muted"><strong>Admin Account</strong></div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">Approval Required</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Manage Users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Add new flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Edit existing flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Delete existing flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Update existing flight information
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Gain insight into your users
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Only one account per Admin
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Register Admin Account</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="text-uppercase fw-bold text-muted"><strong>Anonymous Access</strong></div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold" style="font-size: 2.5rem;">Federated sign in via third party provider</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Use a third party SSO provider</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Coming Soon!
                            </li>
                            <!--                            <li class="mb-2">-->
                            <!--                                <i class="bi bi-check text-primary"></i>-->
                            <!--                                Edit existing flights-->
                            <!--                            </li>-->
                            <!--                            <li class="mb-2">-->
                            <!--                                <i class="bi bi-check text-primary"></i>-->
                            <!--                                Delete existing flights-->
                            <!--                            </li>-->
                            <!--                            <li class="mb-2">-->
                            <!--                                <i class="bi bi-check text-primary"></i>-->
                            <!--                                Update existing flight information-->
                            <!--                            </li>-->
                            <!--                            <li class="mb-2">-->
                            <!--                                <i class="bi bi-check text-primary"></i>-->
                            <!--                                Gain insight into your users-->
                            <!--                            </li>-->
                            <!--                            <li class="mb-2">-->
                            <!--                                <i class="bi bi-check text-primary"></i>-->
                            <!--                                Only one account per Admin-->
                            <!--                            </li>-->
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary disabled" href="#!" disabled="">Coming
                            Soon!</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: jsScripts"></div>

</body>
</html>
