<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/components :: head(~{::title})">
    <title class="text-center">Simulation Airlines</title>
</head>

<body>
<!-- Responsive navbar-->
<!-------------------------------------------------- SIGNED IN -------------------------------------------------->
<div th:if="${#bools.isTrue(#authorization.expression('isAuthenticated()'))}">
    <nav th:replace="fragments/components :: signedIn">
    </nav>
</div>

<!-------------------------------------------------- SIGNED OUT -------------------------------------------------->
<div th:if="${#bools.isFalse(#authorization.expression('isAuthenticated()'))}">
    <nav th:replace="fragments/components :: signedOut">
    </nav>
</div>

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <h1 class="display-5 fw-bolder text-white mb-2">Welcome back,<br>
                            <span th:text="${user.getFullName()}"></span></h1>
                        <p class="lead text-white-50 mb-4">Thank you for choosing Simulation for your premium air travel
                            needs,
                            How can we help you today?</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" th:href="@{/searchFlights}">Search Available
                                Flights</a>
                            <a class="btn btn-outline-light btn-lg px-4" th:href="@{/reservations}">View Your
                                Reservations</a>
                        </div>
                    </div>

                    <div th:unless="${#authorization.expression('isAuthenticated()')}">
                        <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Simulation Airlines<br></h1>
                        <p class="lead text-white-50 mb-4">Please sign in or register a new account to continue</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <form method="get" th:action="@{/oauth2/authorization/okta}">
                                <button id="login-button2"
                                        class="btn btn-warning btn-lg text-white px-4 me-sm-3 mr-1"
                                        type="submit">Sign
                                    In
                                </button>
                            </form>
                            <form method="get" th:action="@{/register}">
                                <button id="register-button2"
                                        class="btn btn-primary text-white btn-lg px-4 ml-1"
                                        type="submit">Register
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- Account types and registration section-->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">New User Registration</h2>
            <p class="lead mb-0">Claim your free account</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="text-uppercase fw-bold text-muted"><strong>User Account</strong></div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">Free</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Manager your booked flights</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Search and book new flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Get access to My Trips
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Edit existing bookings and flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Only one account per email address</strong>
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" th:href="@{/register}">Register User
                            Account</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="text-uppercase fw-bold text-muted"><strong>Admin Account</strong></div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">Approval Required</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Manage Users</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Add new flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Edit existing flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Delete existing flights
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Update existing flight information
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Gain insight into your users
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Only one account per Admin
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Request Admin Credentials</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="text-uppercase fw-bold text-muted"><strong>Anonymous Access</strong></div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold" style="font-size: 2.5rem;">Federated sign in via third party provider</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>Use a third party SSO provider</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Coming Soon!
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary disabled" href="#!" disabled="">Coming
                            Soon!</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: jsScripts"></div>

</body>
</html>
