<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/components :: head(~{::title})">
    <title class="text-center">Sign In</title>
</head>

<body>
<div class="container px-5 py-5 mx-auto">
    <div class="row gx-5 justify-content-center">
        <div id="sign-in-widget"></div>
    </div>
</div>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: jsScripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let cid = /*[[${oktaClientId}]]*/ '';
    let redirect = /*[[${redirectUri}]]*/ '';
    let scopes = /*[[${scopes}]]*/ '';
    var signIn = new OktaSignIn({
        el: '#sign-in-widget',
        baseUrl: 'https://dev-5895161.okta.com',
        clientId: cid,
        redirectUri: redirect,
        logo:
            'https://raw.githubusercontent.com/HarryDulaney/airline-reservation-system/master/src/main/resources/img/transparent-bg-airplane.png',
        authParams: {
            issuer: 'https://dev-5895161.okta.com/oauth2/default',
            pkce: false,
            responseType: 'code',
            scopes: scopes
        }
    });

    signIn.showSignInAndRedirect().catch(function (error) {
        console.log('--------------------------->> Error authenticating with Okta: ' + error +
            ' <<-------------------------------------')
    });
    /*]]>*/
</script>

</body>
</html>