<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title})">
    <title>Reservations</title>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#" th:href="@{/}"> <i class="bi bi-house"></i> Simulation Airlines</a>
        <div class="navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 8rem">
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a th:href="@{/admin/flightSchedule}" class="dropdown-item">Edit Flight Schedules</a>
                        <a class="dropdown-item" href="#">Add Flights</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Admin Actions</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/reservations}">My Trips</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{searchFlights/}">Book</a></li>
                <li class="nav-item"><a class="nav-link" target="_blank"
                                        href="https://github.com/harrydulaney/airline-reservation-system">About</a></li>
            </ul>
            <!--/* If the user is logged in, show the logout button */-->
            <form method="post" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}"
                  class="float-right" style="margin-left: 5rem">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button id="logout-button" type="submit" class="btn btn-outline-primary">Sign Out</button>
            </form>

        </div>
    </div>
</nav>

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-white">Your Reservations</h1>
            </div>
        </div>
    </div>
</header>
<div class="container my-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Reservation Number</th>
            <th>Flight Id</th>
            <th>Flight Number</th>
            <th>Flight Date</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr th:each="reservation : ${allReservations}">
            <td th:text="${reservation.reservationId}"></td>
            <td th:text="${reservation.flight.flightId}"></td>
            <td th:text="${reservation.flight.flightNumber}"></td>
            <td th:text="${#dates.format(reservation.flight.departureDate, 'dd-MMM-yyyy')}"></td>
            <td th:text="${reservation.flight.originCity}"></td>
            <td th:text="${reservation.flight.destinationCity}"></td>
            <td th:text="${'$' + #numbers.formatDecimal(reservation.flight.priceUs, 1, 2)}"></td>

            <td><a th:href="'/reservation/delete/'  + ${reservation.reservationId}">Cancel Reservation</a></td>
        </tr>
    </table>


    <!--    <p th:text=${totalprice}></p>-->


</div>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: jsScripts"></div>

</body>
</html>
