<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/components :: head(~{::title})">
    <title>Simulation Airlines</title>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container w-100">
        <a class="navbar-brand" href="#" th:href="@{/}"> <i class="bi bi-house"></i> Simulation Airlines</a>
        <div class="navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">

            <!-------------------------------------------------- SIGNED IN NAV LINKS USER OR ADMIN -------------------------------------------------->
            <ul class="navbar-nav">
                <!-------------------------------------------------- ADMIN ONLY NAV DROPDOWN -------------------------------------------------->
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADMIN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a th:href="@{/admin/flightSchedule}" class="dropdown-item">Edit Flight Schedules</a>
                        <a class="dropdown-item" href="#">Add Flights</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Admin Actions</a>
                    </div>
                </li>
                <!-------------------------------------------------- ADMIN AUTHORITY ONLY END -------------------------------------------------->

                <li class="nav-item"><a class="nav-link text-info" th:href="@{/reservations}">MY
                    TRIPS</a></li>
                <li class="nav-item"><a class="nav-link text-info text-muted disabled" th:disabled
                                        th:href="@{searchFlights/}">
                    BOOK A FLIGHT</a>
                </li>
                <li style="float: end; margin-left:25vw" class="nav-item">
                    <form id="logoutForm" method="post" th:action="@{/logout}"
                          class="float-right" style="margin-left: 6rem">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <a class="nav-link font-weight-bold text-warning"
                           href="javascript:null" onclick="document.getElementById('logoutForm').submit();">SIGN OUT</a>
                    </form>
                </li>
                <li class="nav-item float-right" style="margin-left: 5rem">
                    <a class="nav-link text-white"
                       target="_blank"
                       href="https://github.com/harrydulaney/airline-reservation-system"><i
                            class="bi bi-github"></i></a></li>
            </ul>


        </div>
    </div>
</nav>
<header class="bg-dark py-2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="text-center my-1">
                <h1 class="display-5 fw-bolder text-white">Available Flights</h1>
            </div>
        </div>
    </div>
</header>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table id="flightTable" class="table">
                <thead>
                <tr class="bg-info">
                    <th>Flight #</th>
                    <th>Departure Date</th>
                    <th>Carrier</th>
                    <th>Origin</th>
                    <th>Departure Time</th>
                    <th>Destination</th>
                    <th>Arrival Time</th>
                    <th>Price $US</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight : ${resultFlights}">
                    <td th:text="${flight.flightNumber}"></td>
                    <td th:text="${#dates.format(flight.departureDate, 'dd-MMM-yyyy')}"></td>
                    <td th:text="${flight.carrier}"></td>
                    <td th:text="${flight.originCity}"></td>
                    <td th:text="${flight.departureTime}"></td>
                    <td th:text="${flight.destinationCity}"></td>
                    <td th:text="${flight.arrivalTime}"></td>
                    <td class="font-weight-bold" th:text="${flight.priceUs}"></td>
                    <td class="mx-auto"><a th:href="'/reservation/book/'  + ${flight.flightId}">
                        <i class="bi bi-check-circle-fill"><span class="text-secondary text-muted small"> Select</span></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/components :: footer"></footer>
<div th:replace="fragments/components :: jsScripts"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#flightTable').DataTable({
            "ordering": true,
            "pageLength": 10,
            "lengthChange": true,
            "paging": true,
            "lengthMenu": [10, 25, 50, 75, 100],
            "search": true
        });
    });
</script>
</body>
</html>
